name: CI

on:
  push:
    branches:
      - "*"

jobs:
  build-and-push:
    uses: beep-industries/actions/.github/workflows/build-push-main.yml@main13-detecte-cve-from-docker-image
    secrets: inherit
